body{
	text-align: center;
	background-color: lightblue;
	color:black;
}

header {
	font-style: oblique;
	font-size:40px;
}	

.Me {
	font-family: Georgia;
	font-size:17px;
}	

.Education   {
	font-family:Georgia;
	font-size:17px;

}

 .RExperience{
font-family:Georgia;
	font-size:17px;

 }

 .OExperience{
font-family:Georgia;
	font-size:17px;

 }

 .OQualifications{
font-family:Georgia;
	font-size:17px;
 }

 aside{
 	background-color:white;
 	float:right;
 	position: fixed;
 	right:20px;
 	top:20px;
 	font-size: 20px;
 }

 