html {
  background-color: #89cff0;
  font-family: Arial;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

h3 {
  background-color: #FFF;
  text-decoration: underline;
}

#hiho {
  margin: 0 auto;
  text-align: center;
}

aside {
    display : inline-block;
    width : 64px;
    height : 64px;
    border-style : solid;
    border-color : black;
    background-color: black;
    float: right;
}
